<!DOCTYPE html>
<html lang="english">
<head>
        <meta charset="utf-8" />
        <title>Github</title>
        <link rel="stylesheet" href="https://dexoostveen.github.io/theme/css/main.css" />
        <link href="https://dexoostveen.github.io/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="Blog Atom Feed" />

        <!--[if IE]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>

<body id="index" class="home">
        <header id="banner" class="body">
                <h1><a href="https://dexoostveen.github.io/">Blog </a></h1>
                <nav><ul>
    
                        <li><a href="https://dexoostveen.github.io/pages/about.html">About</a></li>
    
                        <li><a href="https://dexoostveen.github.io/pages/contact.html">Contact</a></li>
    
                        <li class="active"><a href="https://dexoostveen.github.io/pages/github.html">Github</a></li>
                </ul>
                </nav>
<div id="submenu">
                    <ul>
                            <li><a href="https://dexoostveen.github.io/category/misc.html">misc</a></li>
                            <li><a href="https://dexoostveen.github.io/category/review.html">Review</a></li>
                    </ul>
                <div>
        </header><!-- /#banner -->
<section id="content" class="body">
    <h1 class="entry-title">Github</h1>
    
    <p>github</p>
<p _="%" endif>{% if GITHUB_USER %}
    <h1>Projects</h1>
    {% for project in github_projects %}
        <h2>{{ project.name }} <sup>({{ project.language }})</sup></h2>
        {% if project.description %}<p>{{ project.description }}</p>{% endif %}
        <p>
            {% if project.homepage %}<a href="{{ project.homepage }}">Homepage</a>{% endif %}
            <a href="{{ project.github_url }}">GitHub</a>
        </p>
    {% endfor %}</p>
</section>
        <section id="extras" class="body">
                <div class="social">
                        <h2>social</h2>
                        <ul>
                            <li><a href="https://dexoostveen.github.io/feeds/all.atom.xml" type="application/atom+xml" rel="alternate">atom feed</a></li>

                            <li><a href="https://github.com/DexOostveen">github</a></li>
                        </ul>
                </div><!-- /.social -->
        </section><!-- /#extras -->

        <footer id="contentinfo" class="body">
                <p>Powered by <a href="http://getpelican.com/">Pelican</a>. Theme <a href="https://github.com/blueicefield/pelican-blueidea/">blueidea</a>, inspired by the default theme.</p>
        </footer><!-- /#contentinfo -->

</body>
</html>